<div class="login-container">

  
 
  <form (ngSubmit)="login()">
    <div class="logo-container">
      <img src="/assets/images/fermax-03.png" alt="Logo">
    </div>
    
    <input
      type="text"
      placeholder="Nombre de usuario"
      [(ngModel)]="usuario"
      name="usuario"
      required
    />

    <input
      type="password"
      placeholder="Contraseña"
      [(ngModel)]="password"
      name="password"
      required
    />

    <div class="error" *ngIf="error">{{ error }}</div>

    <button type="submit">Entrar</button>

    <div class="descripcion-intranet">
      <p>Intranet de Ingenieria de Producto</p>
      <p>© {{ currentYear }} Fermax</p>
    </div>
  </form>
</div>
