<!-- Proyectos -->
<section id="proyectos" class="container">
    <div class="row">
        <div class="col-md-9 mt-4 mb-5">
            <h1>Intranet de Ingenieria de producto</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <p class="spain">La Intranet de Ingeniería de Producto es una plataforma interna diseñada para centralizar,
                organizar y facilitar el acceso a toda la información y herramientas relacionadas con el desarrollo,
                documentación y gestión técnica de productos.</p>
            <p class="spain">Esta aplicación sirve como punto de encuentro digital para
                los distintos departamentos implicados en la ingeniería, ofreciendo una experiencia ágil, segura y
                orientada a la productividad.</p>
        </div>
    </div>
</section>